@charset "utf-8";

/* 美化滚动条 */
::-webkit-scrollbar { /*滚动条整体样式*/
    width: 6px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 6px;
    scrollbar-arrow-color: red;
}

::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
    scrollbar-arrow-color: red;
}

::-webkit-scrollbar-track { /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}

body {
    background: url(https://www.loliapi.com/acg/);
    background-size: cover;
    user-select: none;
}

/* 定义主盒子 */
#main-box {
    width: 800px;
    border-radius: 50px;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    padding: 30px;
    /* 让盒子居中 */
    margin: 0 auto;
    margin-top: 70px;
}

/* 定义顶部头像及名称、介绍部分 */
#head {
    position: relative;
    z-index: 0;
    padding: 16px 0;
    border-radius: 35px;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

    #head::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        backdrop-filter: blur(15px);
        border-radius: 35px;
    }

/* 定义头像图片样式 */
#touxiang {
    /* 定义头像的高和宽 */
    height: 128px;
    width: 128px;
    /* 让头像变成圆的 */
    border-radius: 50%;
    /* 将图片转换为块元素并居中 */
    display: block;
    margin: 0 auto;
    /* 定义图片默认旋转速度 */
    transition: all 0.5s;
    -moz-transition: all 1s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    /* 头像呼吸灯 */
    animation: light 4s ease-in-out infinite;
}
/* 呼吸灯颜色变化 */
@keyframes light {
    0% {
        box-shadow: 0 0 4px #f00;
    }

    25% {
        box-shadow: 0 0 16px #0f0;
    }

    50% {
        box-shadow: 0 0 4px #00f;
    }

    75% {
        box-shadow: 0 0 16px #0f0;
    }

    100% {
        box-shadow: 0 0 4px #f00;
    }
}

/* 定义昵称样式 */
#nick {
    text-align: center;
    font-size: 30px;
    font-weight:600;
}

/* 定义一段文字样式 */
#info {
    text-align: left;
}

#title{
    font-weight:700;
}

#main-1 {
    position: relative;
    z-index: 0;
    width: 25%;
    border-radius: 35px;
    padding: 20px;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    float: left;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

    #main-1::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        backdrop-filter: blur(15px);
        border-radius: 35px;
    }
#main-2 {
    position: relative;
    z-index: 0;
    height: 700px;
    width: 60%;
    border-radius: 35px;
    padding: 20px;
    float: right;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

    #main-2::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        backdrop-filter: blur(15px);
        border-radius: 35px;
    }


a{
	text-decoration: none;
	color: #03A9F4;
	transition: all 0.5s;
}
a:hover{
	color: orange;
	transition: all 0.5s;
}

#404 {
    height: 200px;
    padding: 20px;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    border-radius:50px;
    margin:0 auto;
}

#report {
    font-weight: 700;
    text-align: center;
    font-size:140%;
}